<ul class="nav nav-pills flex-column mb-auto ms-4">
  {% for menu_item in menu_items %}
  <li {% if menu_item.children.count > 0 %}class="sub-menu"{% endif %}>
    <a href="{{ menu_item.get_url }}" class="nav-link text-white text-decoration-none {% if menu_item.children.count > 0 %}dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" {% else %}"{% endif %}>
      {{ menu_item.title }}
    </a>
    {% if menu_item.children.count > 0 %}
      {% include 'menu/base_menu.html' with menu_items=menu_item.children.all request=request %}
    {% endif %}
  </li>
  {% endfor %}
</ul>
